{:deps {}
 :aliases {:build {:extra-deps {seancorfield/depstar {:mvn/version "1.0.96"}}
                   :main-opts ["-m" "hf.depstar.jar" "remote-repl.jar"]}
           :deploy {:extra-deps {clj-commons/pomegranate {:mvn/version "1.2.0"}}
                    :extra-paths ["build"]
                    :main-opts ["-m" "deploy"]}}}
